.editor {
  /* All 'dem swatches */
  /* Active Line Highlight support */
}
.editor .CodeMirror {
  background-color: #2d2a2e;
}
.editor .CodeMirror-scroll,
.editor .CodeMirror-dialog {
  color: #ffffff;
}
.editor .CodeMirror-gutters {
  background-color: transparent;
  border-right: 1px solid rgba(252, 252, 250, 0.05);
}
.editor .CodeMirror-linenumber {
  color: #5b595c;
}
.editor .CodeMirror-selected {
  background-color: #403e41;
}
.editor .CodeMirror-focused .CodeMirror-selected {
  background-color: #403e41;
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #939293;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  outline: 1px solid #ffd866;
  color: #ffffff !important;
  background: #2d2a2e !important;
}
.editor .CodeMirror-foldgutter-open:after {
  color: #c5c5c5;
}
.editor .CodeMirror-foldgutter-folded:after {
  color: #c5c5c5;
}
.editor .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.editor .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #403e41;
}
.editor .CodeMirror-foldmarker {
  border-color: #403e41;
  background-color: #403e41;
  color: #727072;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: rgba(0, 0, 0, 0.1);
}
.editor .cm-searching {
  outline: 1px solid #ffd866;
  background-color: transparent;
}
.editor .CodeMirror .cm-string.cm-url {
  color: #a9dc76;
  text-decoration: underline;
}
.editor .CodeMirror .cm-link-footref2,
.editor .CodeMirror .cm-link-barelink,
.editor .CodeMirror .cm-formatting-link.cm-link-barelink {
  color: #ffffff !important;
}
.editor .CodeMirror .cm-formatting-link,
.editor .CodeMirror .cm-formatting-link-string,
.editor .CodeMirror .cm-formatting-image,
.editor .CodeMirror .cm-formatting-list,
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em {
  color: #939293 !important;
  text-decoration: none;
}
.editor .CodeMirror .cm-string {
  color: #ffd866;
}
.editor .CodeMirror .cm-atom,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #a9dc76;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #ff6188;
}
.editor .CodeMirror .cm-def,
.editor .CodeMirror .cm-property {
  color: #ffffff;
}
.editor .CodeMirror .cm-variable {
  color: #a9dc76;
}
.editor .CodeMirror .cm-keyword,
.editor .CodeMirror .cm-operator,
.editor .CodeMirror .cm-meta {
  color: #ff6188;
}
.editor .CodeMirror .cm-bracket {
  color: #939293 !important;
}
.editor .CodeMirror .cm-comment {
  color: #727072;
  font-style: italic;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #ff6188;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 0.3;
}
.editor .CodeMirror .cm-header {
  color: #ffd866;
}
.editor .CodeMirror .cm-link.cm-link-footnote {
  color: #ffffff;
}
.editor .CodeMirror .cm-link {
  color: #ff6188;
  text-decoration: none;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #ffffff;
}
.editor .CodeMirror .cm-builtin {
  color: #78dce8;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-tag {
  color: #ff6188;
}
.editor .CodeMirror .cm-quote {
  font-style: italic;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #5b595c;
}
.editor .CodeMirror .cm-hr {
  color: #ffffff;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #5b595c;
  opacity: 0.4;
}
.editor .CodeMirror .cm-inline-code {
  background: rgba(252, 252, 250, 0.05);
  color: #fc9867;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: rgba(252, 252, 250, 0.05) !important;
}
